<% provide(:title, 'About') %>

<h1 id="mstc-app">About</h1>
<p><strong>Multiple Sclerosis Therapy Centre Client, Resource and Therapy Session Management System.</strong></p>
<p>An open source, Ruby on Rails project to provide Multiple Sclerosis Therapy Centres an integrated tool to manage clients, resources and oxygen therapy sessions.  Please see <a href="https://github.com/kmclellan/mstc/wiki/Use-Cases">Use Cases</a> in the wiki for a view of where this project will be going and <a href="https://github.com/kmclellan/mstc/issues/">GitHub issues</a> for the user stories that have been prioritised for development.</p>
<p>Initially created for the MS Therapy Centre Lothian <a href="http://www.mstc-lothian.org.uk/">http://www.mstc-lothian.org.uk/</a></p>
<p>The software is intended to be run onsite on a dedicated Linux based server but can also be run in the &quot;cloud&quot; (for a demo, please <a href="https://mstc.herokuapp.com/">see the latest version running on Heroku</a>).</p>
<p>
  <a href="https://heroku.com/deploy"><img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy to Heroku"></a></p>
<p>Pull requests and bug reports are always welcome!</p>

<p>Please see the <a href="#">Installation</a> tab for installation instructions and the
  <a href="#">Contact</a> tab for ways to contribute to the project as well as contact information of current development team.</p>