<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<h3 id="contributing">Contributing</h3>
<p>Please see <a href="https://github.com/kmclellan/mstc/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a> for more detail.</p>
<ul>
  <li>Fork the repository using GitHub.</li>
  <li>Clone the repository to your local development space.</li>
  <li>Checkout a branch, named after the feature you will be adding, created from the master branch.</li>
  <li>Write tests using rspec.</li>
  <li>Complete modifications or corrections.</li>
  <li>Run the tests, ensuring they all pass. (See <a href="https://github.com/kmclellan/mstc/blob/master/TESTING.md">TESTING.md</a>)</li>
  <li>Commit your improvements.</li>
  <li>Pull the latest master to your feature branch and resolve any conflicts.</li>
  <li>Push your feature branch to your fork on GitHub.</li>
  <li>Contact lead developer, describe work done, submit a Pull Request using GitHub.</li>
</ul>
<p>If you have direct access to the repository then develop in a branch before merging to master.  DO NOT DEVELOP IN THE MASTER BRANCH.</p>
<h3 id="license-copyright">License / Copyright</h3>
<p>The software is released under an open source MIT license (please see copyright file).</p>