<div class="center jumbotron">
  <h1>
    MS Therapy Centre Lothian
  </h1><br>
  <h2>
    An open source, Ruby on Rails project to provide Multiple Sclerosis Therapy Centres<br>
    an integrated tool to manage clients, resources and oxygen therapy sessions.<br><br>
    Currently in development. Go to the official
    <a href="https://github.com/kmclellan/mstc">Github repository</a> for more information.
  </h2><br>
    <%= link_to "Create an account", '#', class: "btn btn-lg btn-primary" %>
<br><br>
  <h2>
    You may log in as an administrator with the following credentials for testing purposes:<br><br>
    <b>Username:</b> "admin@email.com"<br>
    <b>Password:</b> "12345678"<br><br>
    You may also log in as a basic user by either creating a new account or using the following range of pre-generated credentials:<br><br>
    <b>Username:</b> "basic.user.1@email.com" <b>to</b> "basic.user.50@email.com"<br>
    <b>Password:</b> "12345678"<br>
  </h2>
</div>
