<footer class="footer">
  <small>
    &copy; 2018 MS Therapy Centre Lothian
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/kmclellan/mstc">Github repository</a></li>
    </ul>
  </nav>
</footer>